
#center{
  text-align: center;
  margin-top: 25%;
  background-image: url("DSC05806.jpg");
  font-family: 'Source Code Pro', monospace;
}

#bio{
  text-align: left;
  margin-top: 25%;
  background-image: url("DSC05806.jpg");
  font-family: 'Source Code Pro', monospace;
}
